# dependencies
node_modules
.pnp
.pnp.*

# build outputs
.next/
out/
dist/
build/
.turbo/

# testing
coverage/

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (opt-in commit)
.env
.env.*
!.env.example

# vercel
.vercel

# next typegen
next-env.d.ts

# prisma
prisma/migrations/*.sql.tmp

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
